body {
     background: rgb(241, 241, 241);
     color: black;
     font-family: 'Roboto';
}

.App {
     text-align: center;
     font-size: 35px;
     width: 50%;
     margin: 0 auto;
     margin-top: 10%;
}

.App-title {
     font-size: 26px;
}
