body {
     background: rgb(241, 241, 241);
     color: black;
     font-family: 'Roboto';
}

.App {
     text-align: center;
     font-size: 35px;
     width: 50%;
     margin: 0 auto;
     margin-top: 10%;
}

.App-title {
     font-size: 26px;
}

#app-wrapper {
     width: 50%;
     margin: 30px auto;
}

.search-container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.search-btn {
     height: 20px !important;
     line-height: 4px !important;
     font-size: 11px !important;
     text-transform: none !important;
     background-color: #0075ff !important;
     color: white !important;
     padding: 10px !important;
     margin-bottom: 30px !important;
     width: 110px !important;
}

.track {
     padding: 6px 10px 5px 10px;
     background-color: #fefefe;
     border: 1px solid #eee;
     border-radius: 3px;
     color: #545454;
     font-size: 13px;
}

.cont {
     text-align: center;
}

.current-song {
     font-size: 14px;
     font-weight: 500;
     margin-bottom: 20px;
}